// src/css/quasar.variables.scss

$primary   : rgb(192,99,132);
$secondary : rgb(38,117,154);
$accent    : rgb(34,70,201);

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;